@charset "UTF-8";
	.boardContent{
	    width: 155px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.conDiv{
		width: 1002px;
   		margin: auto;
	}
	.formDiv{
		width: 600px;
   		margin: auto;
	}
	.boardDate{
	    width: 65px;
		font-size: 12px;
	}
	
	.mainboard{
		width: 1000px;
		margin: 10px !important;
		float: center;
		font-size: 14px;
	}
	.wform{
		width: 600px;
		margin: 10px !important;
		float: center;
		font-size: 14px;
	
	}
	
	
	.boardNum{
		width: 40px;
	}
	.boardTitle{
		width: 120px;
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	 #map {
		height: 500px;
		width: 1100px;
		margin: auto;
	 }
	 html, body {
		height: 100%;
		margin: 0;
		padding: 0;
	 }
	 .conDetailImg{
		width: 150px;
		margin: 10px;
	 }
	 .concertDetailTable,.concertDetailMap{
	 	width: 1200px;
	 }
	 .imgTd{
	 	vertical-align: middle !important;
	 }
	
	.place{
	    width: 100%;
	    margin-bottom: 14px;
	    word-break: break-all;
	}
	.svcstat, .area{
		float: left;
	    height: 22px;
	    line-height: 20px;
	    border: 1px solid #fd4d4d;
	    padding: 0 5px;
	    font-size: 14px;
	}
	.svcstat{
		color: #fc2e2e;
	    font-weight: 500;
	}
	.area{
	    background-color: #fc2e2e;
    	color: #FFF;
	}
	.svcstat2, .area2{
		float: left;
	    height: 22px;
	    line-height: 20px;
	    border: 1px solid #999999;
	    padding: 0 5px;
	    font-size: 14px;
	}
	.svcstat2{
		color: #999999;
	    font-weight: 500;
	}
	.area2{
	    background-color: #999999;
    	color: #FFF;
	}
	.svcstat3, .area3{
		float: left;
	    height: 22px;
	    line-height: 20px;
	    border: 1px solid #3464ff;
	    padding: 0 5px;
	    font-size: 14px;
	}
	.svcstat3{
		color: #1955ff;
	    font-weight: 500;
	}
	.area3{
	    background-color: #1955ff;
    	color: #FFF;
	}
	.svcstat4, .area4{
		float: left;
	    height: 22px;
	    line-height: 20px;
	    border: 1px solid #54c5b8;
	    padding: 0 5px;
	    font-size: 14px;
	}
	.svcstat4{
		color: #4ac4e5;
	    font-weight: 500;
	}
	.area4{
	    background-color: #4ac4e5;
    	color: #FFF;
	}
	caption{
		caption-side: top;
		font-size: 16px;
		font-weight: 700;
	}
	.listM{
		width: 1144px;
		height: 1824px;
	    margin-top: 10px;
	}
	.listArrowImg{
		margin-top: 38px;
	}
	.listA{
	    display: inline-block;
	    height: 100px;
	    border: 1px black solid;
	    margin-top: 850px;
	}
	.serchBox{
		width: 1140px;
	}
	.serchBox>div{
	    margin-left: 28px;
	}
	.selectMinBox{
	    width: 90px;
	    height: 34px;
	    margin-top: 0px;
	    font-size: 13px;
	}
	.adminTopInput{
		height: 34px;
	}