@charset "UTF-8";
	body{
		font-family: 'Noto Sans KR', 'Malgun Gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo',
					 'Microsoft NeoGothic', 'Droid sans', arial, sans-serif;
	}
	.slideImg{
		margin: 10px;
		width: 135px;
		height: 125px; 
	}
	.slide{
		overflow: hidden;
	}
	.slideTable{
		width: 980px;
		height: 280px;
		margin: auto;
	}
	#slideDot{
		text-align: center;
	}
	.slideDot{
		margin: 3px;
		width: 15px;
		height: 15px;
	}
	.slideDot, .slideImg{
		cursor: pointer;
	}
	.mDeActive{
		display: none;
	}
	.mActive{
		display: table-row;
	}
	.mainboard{
		width: 430px;
		margin: 10px !important;
		float: left;
		font-size: 13px;
	}
	.concertName{
		height: 40px;
	}
	.slideDotTr{
		height: 38px;
	}
	.boardNum{
		width: 40px;
	}
	.boardTitle{
		width: 130px;
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.boardContent{
	    width: 165px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.boardDate{
	    width: 65px;
		font-size: 12px;
	}
	.arrowImg{
		vertical-align: middle !important;
	}
	th{
		background-color: #dddddd94;
	}
	.bodyPart{
	    width: 1200px;
	    margin: auto;
	}
	.content{
	    min-height: 900px;
	}
	.conDiv{
		width: 980px;
   		margin: auto;
	}
	.footerDiv{
		border-top: 1px black solid;
		min-height: 120px;
    	background-color: #ebebeb80;
	}
	.footerContent{
		margin-left: 180px;
		margin-top: 20px;
		width: 490px;
	}
	.headerDiv{
		border-bottom: 1px black solid;
    	margin-bottom: 10px;
	}
	.logoA{
		text-decoration: none !important;
	}
	.menuNav{
		width: 900px;
		display: contents;
	}
	.menuBtn{
		font-size:18px;
		font-weight:600;
		text-decoration: none !important;
		margin: 0 20px;
	}