@charset "UTF-8";
	.boardContent{
	    width: 165px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.boardDate{
	    width: 65px;
		font-size: 12px;
	}
	.arrowImg{
		vertical-align: middle !important;
	}
	.slideImg{
		margin: 10px;
		width: 135px;
		height: 125px; 
	}
	.slide{
		overflow: hidden;
	}
	.slideTable{
		width: 980px;
		height: 280px;
		margin: auto;
	}
	#slideDot{
		text-align: center;
	}
	.slideDot{
		margin: 3px;
		width: 15px;
		height: 15px;
	}
	.slideDot, .slideImg{
		cursor: pointer;
	}
	.mDeActive{
		display: none;
	}
	.mActive{
		display: table-row;
	}
	.mainboard{
		width: 430px;
		margin: 10px !important;
		float: left;
		font-size: 13px;
	}
	.concertName{
		height: 40px;
	}
	.slideDotTr{
		height: 38px;
	}
	.boardNum{
		width: 40px;
	}
	.boardTitle{
		width: 130px;
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	 #map {
		height: 500px;
		width: 1100px;
		margin: auto;
	 }
	 html, body {
		height: 100%;
		margin: 0;
		padding: 0;
	 }
	 .conDetailImg{
		width: 150px;
		margin: 10px;
	 }
	 .concertDetailTable,.concertDetailMap{
	 	width: 1200px;
	 }
	 .imgTd{
	 	vertical-align: middle !important;
	 }
	.concertUl{
		list-style: none;
    	overflow: hidden;
	}
	.concertListDiv{
		border: 1px solid #d5d8de;
    	padding: 15px;
    	font-size: 13px;
	}
	.concertListDiv a{
		color:black;
	}
	.concertListDiv a:hover{
		cursor: pointer;
		color: #003cc3;
	}
	.concertUl>li{
		width: 20%;
    	float: left;
    	padding: 0 7px 30px;
	}
	.concertUl>li a{
		text-decoration: none !important;
	}
	.concertListImg{
		width: 100%;
		height: 100%;
    	display: block;
	}
	.concertListSpan{
		height: 262px;
	}
	.concertListDiv>form>a>dl{
		margin-bottom:0px; 
	}
	.concertListDiv>form>a>dl:after{
	    display: block;
	    content: "";
	    clear: both;
	}
	.concertListDiv>form>a dt{ 
    	margin-bottom: 14px;
	}
	.place{
	    width: 100%;
	    margin-bottom: 14px;
	    word-break: break-all;
	}
	.svcstat, .area{
		float: left;
	    height: 22px;
	    line-height: 20px;
	    border: 1px solid #fd4d4d;
	    padding: 0 5px;
	    font-size: 14px;
	}
	.svcstat{
		color: #fc2e2e;
	    font-weight: 500;
	}
	.area{
	    background-color: #fc2e2e;
    	color: #FFF;
	}
	.svcstat2, .area2{
		float: left;
	    height: 22px;
	    line-height: 20px;
	    border: 1px solid #999999;
	    padding: 0 5px;
	    font-size: 14px;
	}
	.svcstat2{
		color: #999999;
	    font-weight: 500;
	}
	.area2{
	    background-color: #999999;
    	color: #FFF;
	}
	caption{
		caption-side: top;
		font-size: 16px;
		font-weight: 700;
	}